@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To buy a phone check the link:  <a asp-controller="Lists" asp-action="Index">Catalog</a>.</p>
    <p>Or push "Catalog" on the header</p>
</div>
