@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>1) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>2) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>3) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>4) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>5) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>6) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>7) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
<h2>8) Lorem</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, repellendus. Reiciendis debitis praesentium commodi sed odio? Error a placeat similique aliquam! Fugit, natus quisquam voluptatibus neque rem laudantium quae ad?</p>
